<div class="well">
	<div class="page-header">
		<h1>Check Out</h1>
	</div>

	<p>Please enter customer information</p>

	<div class="bs-example form-horizontal">
		<%= form_tag confirmation_path do %>

			<% if flash[:error] %>

				<div class="alert alert-dismissable alert-danger">
		              <button type="button" class="close" data-dismiss="alert">×</button>
		              <strong>Oh snap!</strong> <%= flash[:error] %>            	
		          </div>
				
				<div class="form-group has-error">
					<%= label_tag :first_name, "First Name", :class => "col-lg-2 control-label" %>
					
					<div class="col-lg-10">
						<%= text_field_tag :first_name, nil, :class => "form-control", :id => "inputError" %>
					</div>
				</div>

				<div class="form-group form-group has-error">
					<%= label_tag :last_name, "Last Name", :class => "col-lg-2 control-label"%>

					<div class="col-lg-10">
						<%= text_field_tag :last_name, nil, :class => "form-control", :id => "inputError" %>
					</div>
				</div>
			<% else %>
				<div class="form-group">
					<%= label_tag :first_name, "First Name", :class => "col-lg-2 control-label" %>
					
					<div class="col-lg-10">
						<%= text_field_tag :first_name, nil, :class => "form-control"%>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag :last_name, "Last Name", :class => "col-lg-2 control-label"%>

					<div class="col-lg-10">
						<%= text_field_tag :last_name, nil, :class => "form-control" %>
					</div>
				</div>
			<% end %>

			<div class="form-group">
				<%= label_tag :addres, "Address", :class => "col-lg-2 control-label"%>

				<div class="col-lg-10">
					<%= text_field_tag :addres, nil, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :city, "City", :class => "col-lg-2 control-label"%>

				<div class="col-lg-10">
					<%= text_field_tag :city, nil, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :province, "Province", :class => "col-lg-2 control-label"%>

				<div class="col-lg-10">
					<%= select_tag :province, options_from_collection_for_select(@provinces, "id", "name"), :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :postal_code, "Postal Code", :class => "col-lg-2 control-label"%>

				<div class="col-lg-10">
					<%= text_field_tag :postal_code, nil, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :email, "Email", :class => "col-lg-2 control-label"%>

				<div class="col-lg-10">
					<%= text_field_tag :email, nil, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-2 control-label"></div>

				<div class="col-lg-10">
					<%= submit_tag 'Submit', :class => "btn btn-success" %>
				</div>
			</div>
		<% end %>
	</div>
</div>