<div class="well">
	<div class="page-header">
		<h1>Shipping Summary</h1>
	</div>

	<%= form_tag create_path do %>
		<h2>Customer Information:</h2>
		<strong>
			<p><%= @first_name %> <%= @last_name %></p>
			<p><%= @address %></p>
			<p><%= @province.first.name %>, <%= @city %></p>
			<p><%= @postal_code %><p>
			<p><%= @email %><p>
		</strong>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>

			<tbody>
				<% sub_total = 0 %>
				<% gst_total = 0 %>
				<% pst_total = 0 %>
				<% hst_total = 0 %>
				<% total 	 = 0 %>

				<% @cart_prod.each do |product| %>
					<tr class="product_info">
						<td class="product_model">
							<% if product.name.empty?%>
						   		<%= link_to product.model, product %>  
						   	<% else %>
						   		<%= link_to product.model + "#{product.name}", product %> 
						   	<% end %>
						</td>
						<td>1</td>
						<% if product.sale_price %>
							<td><%= number_to_currency product.sale_price %></td>

							<!-- Adds the sale price to the total -->
							<% sub_total += product.sale_price %>
						<% else %>
							<td><%= number_to_currency product.price %></td>

							<!-- Adds the price to the total -->
							<% sub_total += product.price %>
						<% end %>
					</tr>
				<% end %>

				<tr>
					<td colspan="2"><strong>Sub Total: </strong></td>
					<td><%= number_to_currency sub_total %></td>
				</tr>

				<% if @province.first.gst > 0 %>
					<tr>
						<% gst_total = sub_total * @province.first.gst %>
						<td colspan="2">
								GST Total (<%= number_to_percentage (@province.first.gst * 100), :precision => 2 %>): 
						</td>
						<td><%= number_to_currency gst_total %></td>
					</tr>
				<% end %>

				<% if @province.first.hst > 0 %>
					<tr>
						<% hst_total = sub_total * @province.first.hst %>
						<td colspan="2">
								HST Total (<%= number_to_percentage (@province.first.hst * 100), :precision => 2 %>): 
						</td>
						<td><%= number_to_currency hst_total %></td>
					</tr>
				<% end %>

				<% if @province.first.pst > 0 %>
					<tr>
						<% pst_total = sub_total * @province.first.pst %>
						<td colspan="2">
								PST Total (<%= number_to_percentage (@province.first.pst * 100), :precision => 2 %>): 
						</td>
						<td><%= number_to_currency pst_total %></td>
					</tr>
				<% end %>

				<tr>
					<% total = sub_total + gst_total + hst_total + pst_total %>
					<td colspan="2"><strong>Total: </strong></td>
					<td><strong><%= number_to_currency total %></strong></td>
				</tr>

			</tbody>
		</table>

		<%= submit_tag 'Submit', :class => "btn btn-primary btn-sm" %>
	<% end %>

	<h6>If any of the information above are incorrect, please go back and ensure the correct information is provided</h6>
</div>