<h1><%= @product.model %></h1>

<% if @product.image_file_name.present? %>
	<p><%= image_tag @product.image.url(:medium) %></p>
<% end %>

<% if @product.category %>
	<p><%= @product.category.name %></p>
<% end %>

<% if @product.stock_quantity.present? %>
	<p>Should display quantity or add to cart button</p>
<% else %>
	<p>SOLD OUT</p>
<% end %>

<p><%= @product.description %></p>
<p><%= number_to_currency @product.price %></p>
<!-- <%= link_to 'Back to all list', products_path %> -->
