<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
		   <h2 class="panel-title"><%= link_to product.model, product_path(product) %></h2>
		</div>

		<div class="panel-body">
		    <% if product.image_file_name.present? %>
				<p><%= link_to image_tag product.image.url(:medium) %></p>
			<% end %>

			<% if product.sale_price then %>
				<p>
					<div class="original-crossout">
						<%= number_to_currency product.price %>
					</div>
				    <%= number_to_currency product.sale_price %>
				</p>
			<% else %>
				<p><%= number_to_currency product.price %></p>
			<% end %>
		</div>
	</div>
</div>