<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
			    <% if product.name.empty?%>
			   		<%= link_to product.model, product %> 
			   	<% else %>
			   		<%= link_to product.model, product %> 
			   		(<%= link_to product.name, product %>)
			   	<% end %>
		   	</h2>
		</div>

		<div class="panel-body">
		    <% if product.image_file_name.present? %>
				<p><%= link_to image_tag(product.image.url(:medium)), product %></p>
			<% end %>

			<% if product.sale_price then %>
				<p class="prices">
					<div class="original-crossout">
						<%= number_to_currency product.price %>
					</div>
				    <%= number_to_currency product.sale_price %>
				    <span class="label label-danger">ON SALE</span>
				</p>
			<% else %>
				<p><%= number_to_currency product.price %></p>
			<% end %>

			<% if product.stock_quantity.present? %>
				<%= link_to 'ADD TO CART', add_to_cart_path(product.id), :class => "btn btn-primary btn-sm active" %>
			<% else %>
				<button type="button" class="btn btn-primary btn-sm disabled">ADD TO CART</button>
			<% end %>
		</div>
	</div>
</div>